@use 'colors';
@use 'sass:math';

$squareRatio: math.div(100, 7);
$squareHalfRatio: math.div(100, 14);

.year-view {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & article.widgets {
    display: block;
    margin: 0;
    padding: 0 1rem;
  }

  & article.toolbox {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & .year {
      font-size: 6rem;
    }

    & .navigation {
      display: flex;

      & button.today {
        border: none;
        background: none;

        padding: 0 0.8rem;

        color: colors.$primary-color;
        font-size: 2rem;
        transition: all 0.25s ease;
        &:hover {
          color: colors.$color-blue;
        }
      }
    }
  }

  .year-layout {
    display: grid;
    gap: 2rem;
    justify-items: center;

    grid-template-columns: 1fr;
    @media only screen and (min-width: 450px) {
      grid-template-columns: 1fr 1fr;
    }
    @media only screen and (min-width: 650px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media only screen and (min-width: 850px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    & .GDCalendar {
      container-type: inline-size;
      margin: 0;
      max-width: 32rem;
      min-width: 15.5rem;

      &_Header {
        display: block;
        margin: 0;
        padding: 0 4% 4% 4%;
        & .GDCurrentMonth {
          display: inline-block;
          max-width: 100%;
          font-size: clamp(1.6rem, $squareRatio * 1.25cqw, 4.5rem);
        }
      }
      &_Row {
        container-type: inline-size;
      }
      &_Day {
        font-size: clamp(0.8rem, $squareHalfRatio * 1cqw, 2.25rem);
        padding: 0;

        width: clamp(1.6rem, $squareRatio * 1cqw, 4.5rem);
        height: clamp(1.6rem, $squareRatio * 1cqw, 4.5rem);

        min-width: unset;

        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
      }
    }
  }
}
